[submodule "webdev/games/js_cardmatch"]
	path = webdev/games/js_cardmatch
	url = https://github.com/zailleh/js_cardmatch.git
[submodule "webdev/apps/js_paint"]
	path = webdev/apps/js_paint
	url = https://github.com/zailleh/js_paint.git
[submodule "webdev/funstuff/wdi28-catwalk"]
	path = webdev/funstuff/wdi28-catwalk
	url = https://github.com/zailleh/wdi28-catwalk.git
[submodule "webdev/funstuff/wdi28-fansite"]
	path = webdev/funstuff/wdi28-fansite
	url = https://github.com/zailleh/wdi28-fansite.git
[submodule "webdev/apps/jQuery_game"]
	path = webdev/apps/jQuery_game
	url = https://github.com/zailleh/jQuery_game.git
