h1 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 41px;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

.navlinks li a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
}


.navlinks li {
	display: inline-block;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px:
	font-size: 18px;
}

body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

a {
	border-bottom: 2px solid transparent;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

nav .navlinks li a {
	color: #FFFFFF;
	text-transform: uppercase;

}

nav .navlinks li a:hover {
	border-color: white;
}

main {
	margin: 35px auto;
	width: 850px;
}

img {
	margin: 40px 8px;
}

footer {
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
	text-transform: uppercase;
}

.copyright {
	float: left;
}

.message {
	float: right;
}


.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}